<div class = "container mt-4">
    <script>
        SEC_HTTPS = true;
        SEC_BASE = "compilers.widgets.sphere-engine.com";
        (function(d, s, id){ SEC = window.SEC || (window.SEC = []);
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return; js = d.createElement(s); js.id = id;
        js.src = (SEC_HTTPS ? "https" : "http") + "://" + SEC_BASE + "/static/sdk/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, "script", "sphere-engine-compilers-jssdk"));
        SEC.ready=function(e){"loading"!=document.readyState&&"interactive"!=document.readyState?e():window.addEventListener("load",e)};
    </script>
</div>
<div class="sec-widget" data-widget="2adbe0da9448563569f4c6416339b355"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <%= form_with(model: @project,url: project_path(@project), method: :patch, class: "p-3 mb-5 bg-white rounded",local: true) do |f| %>
    <div class="form-group row">
         <%= f.text_area :code, rows: 10,class: "form-control  rounded",placeholder: "                                                                               After successfully compiling the code from above editor paste the code here and save." %>
    </div>
    <div class="form-group row justify-content-center">
         <%= f.submit "Save Code", class: "btn btn-outline-dark btn-lg" %>
    </div>
  <% end %>
</div>